/* App.css */
.slick-prev,
.slick-next {
  z-index: 1;
  color: #000;
}

.slick-prev:hover,
.slick-next:hover {
  color: #000;
}

.slick-prev::before,
.slick-next::before {
  font-size: 24px;
  color: black;
}

.slick-dots li button:before {
  font-size: 12px;
  color: black;
}

.slick-dots li.slick-active button:before {
  color: black;
}